// colors
$brand-secondary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-tertiary:         darken(#428bca, 6.5%) !default; // #337ab7


//header features
$features-bg-color: #ededed !default;
$features-padding: 60px 0 !default;

//header image header
$imageheader-min-height: 480px !default;

$breadcrum-bg-color: $navbar-default-bg !default;
$breadcrum-padding: 5px 0 !default;
$breadcrum-border: 1px solid darken($breadcrum-bg-color) !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

//@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:100,400,500,700,800);

//footer bg
$content-info-bg:   		#1F232F !default;
$site-info-bg:				darken($content-info-bg, 20%) !default;	

//footer font-colors
$content-info-color-header: lighten($content-info-bg, 50%) !default;
$content-info-color:		lighten($content-info-bg, 50%) !default;
$site-info-color:			lighten($site-info-bg, 30%) !default;


/*
//portfolio effects
$figure-background: 			$brand-primary;
$figure-header-color: 			#484c61 !default;
$figure-header-color-hover: 	#fff !default;
*/