//Algemene classes, handig voor de site. Extra variabelen, te overschrijven in _variables.
@import "styles/_variables.scss";
@import "styles/responsiveText.scss";
@import "styles/images.scss";


//Gravity Forms Bootstrap settings
@import "forms/gravity.scss";

// Layouts
@import "layouts/footer.scss";

