//Algemene classes, handig voor de site. Extra variabelen, te overschrijven in _variables.
@import "variables.scss";
@import "extras/responsiveText.scss";

//Gravity Forms Bootstrap settings
@import "forms/gravity.scss";

// Layouts
@import "layouts/footer.scss";

//Hoverstyles importeren (portfolio)
//@import "hoverStyles.scss";