.content-info { 
	background: $content-info-bg;
	color: $content-info-color;
	padding-bottom: 20px;
	
	h3 {
		color: $content-info-color-header;
	}

	a {
		color: $content-info-color;
		&:hover{
			text-decoration: none;
			color: $brand-primary;
		}
	}		
}

.site-info{
	background: $site-info-bg;
	color: $site-info-color;
	padding-top: 20px;
	padding-bottom: 20px;	
	
	a {
		color: $site-info-color;
		&:hover{
			text-decoration: none;
			color: $brand-primary;
		}
	}
}