/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/


//THEME OVERRIDES

html, body	{margin:0; padding:0;width:100%;height:100%!important; } 


.flexslider { 

  margin: $flexslider-margin; 
  background: $flexslider-bg; 
  height:$flex-height!important; 
  
  border: $flexslider-border; 
  position: relative;
  zoom: 1; 

  @include border-radius( $flexslider-border-radius );
  @include box-shadow( $flexslider-box-shadow-x-axis, $flexslider-box-shadow-y-axis, $flexslider-box-shadow-blur, $flexslider-box-shadow-color, $flexslider-box-shadow-inset);

  //border-top: 1px solid $brand-primary; 
	

  
  
  .slides {

    zoom: 1;
    height: 100%!important;

  img {
    height: auto;
  }
  li {

	background-position: 50%;
	  
	width:100%;
	height:100%!important; 
	margin:0;
	padding:0;			
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
	  
	}

  }
  
  .imageOverlay {
	background: $overlay-bg;
	position: absolute;
	top: 0;

		.container {
			height: 100%;
		}
		.content-holder {
			position:relative;
			height: 100%;
			.content{
				position: absolute;
				bottom: 40px;
				right: 40px;
				z-index: 100;
			}
		}
	}		

}

.flex-viewport { 

  
  width:100%;
  max-height: $flex-viewport-max-height; 
  
  @include transition();

  .loading &{

    max-height: $flex-viewport-loading-max-height;

  }
}

.carousel li { 

  margin-right: 5px; 

}


//
// Direction Nav
//

.flex-direction-nav {

  *height: 0;

  
  //
  // Global styles
  //

  a  { 

    text-decoration: none; 
    display: block; 
    width: 40px; 
    height: 61px; 
    margin: -20px 0 0; 
    position: absolute; 
    top: 50%; 
    z-index: 10; 
    overflow: hidden; 
    opacity: 0; 
    cursor: pointer; 
    color: $flex-direction-nav-color; 
    text-shadow: $flex-direction-nav-text-shadow;

    @include transition( 0.3s, ease-in-out );

    &:before  { 

      font-family: $font-name; 
      font-size: 40px; 
      display: inline-block; 
      content: $flex-direction-nav-icon-prev;
      color: $flex-direction-nav-icon-color;
      text-shadow: $flex-direction-nav-icon-text-shadow;

    }

    &.flex-next:before { 

      content: $flex-direction-nav-icon-next;

    }

  }


  //
  // Prev
  //

  .flex-prev { 

    left: -50px;

  }


  //
  // Next
  //

  .flex-next { 
    
   // right: -50px; 
    text-align: right;

  }


  //
  // Hover states
  //

  .flexslider:hover &{
    
    .flex-prev { 

      opacity: 0.7; 
      left: 10px;

      &:hover{
        
        opacity: 1;

      }

    }
    
    .flex-next { 

      opacity: 0.7; 
      right: 10px;

      &:hover{
        
        opacity: 1;
        
      }

    }

  }


  //
  // Disabled
  //

  .flex-disabled { 

    opacity: 0!important; 
    filter: alpha(opacity=0); 
    cursor: default;

  }
}


//
// Pause/Play
//

.flex-pauseplay a {

  display: block; 
  width: 20px; 
  height: 20px; 
  position: absolute; 
  bottom: 5px; 
  left: 10px; 
  opacity: 0.8; 
  z-index: 10; 
  overflow: hidden; 
  cursor: pointer; 
  color: #000;

  &:before { 

    font-family: $font-name; 
    font-size: 20px; 
    display: inline-block; 
    content: $flex-pauseplay-icon-pause;

  }

  &:hover {

    opacity: 1;

  }

  &.flex-play:before { 

    content: $flex-pauseplay-icon-play;

  }

}


//
// Control Nav
//

.flex-control-nav {

  width: 100%; 
  position: absolute; 
  bottom: $control-nav-bottom-position; 
  text-align: center;
  z-index: 1001;

  li {
    
    margin: 0 6px; 
    display: inline-block; 
    zoom: 1; 
    *display: inline;

  }

}

//
// Control paging
//

.flex-control-paging li {

  a {

    width: 11px; 
    height: 11px; 
    display: block; 
	background: darken($brand-primary, 20%); 
    cursor: pointer; 
    text-indent: -9999px;

    @include box-shadow( 0, 0, 3px, rgba(0,0,0,0.3), inset );
    @include border-radius( $control-paging-radius);

    &:hover { 

        background: lighten($brand-primary,10%);

    }

    &.flex-active { 

      background: $brand-primary;
      cursor: default;

    }
  }
}


.flex-control-thumbs {

  margin: $flex-control-thumbs; 
  position: static; 
  overflow: hidden;

  li {

    width: 25%; 
    float: left; 
    margin: 0;

  }

  img {
  
    width: 100%;
  height: auto;
    display: block; 
    opacity: .7; 
    cursor: pointer;

    @include transition();

    &:hover {opacity: 1;}

  }

  .flex-active {

    opacity: 1; 
    cursor: default;

  }
}


// header slider

//.flex-direction-nav {display:none;}	

.flex-caption		{
	position: absolute;
	top: $caption-top-position;
	text-shadow: $caption-text-shadow;
	width: $caption-width;
	color: $caption-color;
	left: $caption-left-position;
	background: $caption-background-color;
	padding: $caption-padding;
	
	
	h2	{
		font-size: $caption-h2-font-size;
		color: $flexcaption-header-color;
	}
		
	p {
		font-size: $caption-p-font-size;
		margin:0;
		font-weight:200;
	}

}




@media (max-width: $screen-xs-max) {

	.flexslider{
		display: $flexslider-mobile-display;
		.slides {
			li{
				background-image: $flexslider-mobile-display!important;
			}
		}
	
		.flex-direction-nav{
			display: none;
		}
	}
	
		
}

